# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# -------------------------
# ML artifacts
# -------------------------
models/
checkpoints/
*.pt
*.pth
*.h5
*.pkl
*.joblib
*.onnx

# -------------------------
# Data
# -------------------------
data/
*.csv
*.parquet
*.json

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# OS / Editor
# -------------------------
Thumbs.db
.DS_Store
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log
